$magenta: #154733; //uogreen
$black: #fee123; //uoyellow
$grey-dark: #62a70f; //ltgreen
$grey: #ffd200; //altyellow
$blue: #9f3224; //rust

.bg-uogreen {
  background-color: $magenta;
}

.bg-uoyellow {
  background-color: $black;
}

.bg-ltgreen {
  background-color: $grey-dark;
}

.bg-altyellow {
  background-color: $grey;
}

.bg-rust {
  background-color: $blue;
}

#colors {
  li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em;

    p {
      position: absolute;
      padding: 3px 13px;
      color: #666;
      background-color: #fff;
      font-size: 12px;
      bottom: 0;
      left: 0.9375em;
    }
    .color {
      height: 120px;
      margin-right: 0.9375em;
    }

    &:last-child {
      margin-right: 0;
    }
  }
}
