.bg-uogreen {
    background-color: #154733
}

.bg-uoyellow {
    background-color: #fee123
}

.bg-ltgreen {
    background-color: #62a70f
}

.bg-altyellow {
    background-color: #ffd200
}

.bg-rust {
    background-color: #9f3224
}

#colors li {
    position: relative;
    padding: 0;
    margin-bottom: 0.9375em
}

#colors li p {
    position: absolute;
    padding: 3px 13px;
    color: #666;
    background-color: #fff;
    font-size: 12px;
    bottom: 0;
    left: 0.9375em
}

#colors li .color {
    height: 120px;
    margin-right: 0.9375em
}

#colors li:last-child {
    margin-right: 0
}