include modulesData
doctype html
html(lang='en')
  head
    meta(charset="utf-8")
    block meta
    title=public.styleguide._data.clientName + " Style Guide"
    link(rel="apple-touch-icon", sizes="180x180", href="styleguide/structure/images/apple-touch-icon.png")
    link(rel="icon" type="image/png", sizes="32x32", href="styleguide/structure/images/favicon-32x32.png")
    link(rel="icon" type="image/png", sizes="16x16", href="styleguide/structure/images/favicon-16x16.png")
    link(rel="manifest", href="styleguide/structure/images/site.webmanifest")
    link(rel="mask-icon", href="styleguide/structure/images/safari-pinned-tab.svg", color="#154733")
    meta(name="msapplication-TileColor", content="#ffc40d")
    meta(name="theme-color", content="#aaaaaa")

    block styles
  body
    main.container
      block content
    block scripts
